@import url(https://db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa+Regular);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #04152d;
  font-family: "Europa Regular";
  color: #fff;
}

.bg-left {
  /* background: linear-gradient(90deg, rgba(165, 215, 232, 0.42) -60.08%, rgba(255, 255, 255, 0) 66.02%); */
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
}
